.todo-list {
    .header {
        padding: 10px;
        display: flex;
        justify-content: center;
        gap: 10px;

        input {
            padding: 10px 60px;
            border-radius: 6px;
            border: none;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }

        button {
            padding: 10px 40px;
            border-radius: 6px;
            cursor: pointer;
        }
    }

    .todo-cont {

        padding: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 10px;
        background: #f8fafc;
        // min-height: 100vh;




        .todo-card {

            border: none;
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            border-radius: 16px;
            background: #ffffff;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                transform: translate(6px, 4px);
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
            }

            .action-btn {
                display: flex;
                gap: 10px;

                button {
                    padding: 8px 20px;
                    border-radius: 8px;
                    border: none;
                    cursor: pointer;
                    color: white;
                    font-size: 600;
                    font-weight: bold;
                }

                #edit-btn {
                    background-color: blue;
                }

                #delete-btn {
                    background-color: red;
                }
            }

            .title-div {
                display: flex;
                justify-content: space-between;
            }



        }
    }
}


// kanboard-cont

.kanboard-cont {
    padding: 20px;
    text-align: center;

    .main-div {

        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .header {
            display: flex;
            justify-content: space-between;
        }

        .container {

            padding: 20px;
            display: flex;
            gap: 20px;
            justify-content: space-between;

            .pendingdiv {
                 gap: 20px;
                width: 50%;
                display: flex;
                flex-direction: column;
                cursor: pointer;
                padding: 20px;


                .pending-item{
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 10px;
                    border-radius: 16px;
                }
            }

            .completeddiv {
              
                gap: 20px;
                width: 50%;
                display: flex;
                flex-direction: column;
                max-width: 400px;
                cursor: pointer;
                padding: 20px;

                .coml-item{
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 10px;
                    border-radius: 16px;
                }

            }
        }
    }


}